SECRET_KEY = "" # Secret to encrypt or descrypt token
ALGORITHM = "" # Algorithm to encrypt or descrypt token
ACCESS_TOKEN_EXPIRE_MINUTES = 0 # Token expiry time
SQLALCHEMY_DATABASE_URL = "" # Database URL.
SMTP_SERVER = "" # SMTP server 
SMTP_PORT = 0 # STMP Port (for gmail use 587) 
SMTP_USERNAME = "" # email id or username
SMTP_PASSWORD = "" # password
SMTP_FROM_EMAIL = "" # From Email